/* main Component */
.main {
  padding-top: 60px;
}

.main .stories {
  display: flex;
  margin-bottom: 24px;
  padding: 16px 0;
  max-width: 614px;
  border: 1px solid var(--border-gray);
  border-radius: 3px;
  overflow: hidden;
}

.main .stories .story {
  margin-right: 20px;
  text-align: center;
  font-size: 12px;
}

.main .stories .story:first-child {
  padding-left: 20px;
}

.main .stories .gradient_circle {
  position: relative;
  margin-bottom: 8px;
  width: 60px;
  height: 60px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 50%;
}

.main .stories .story_profile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.main .feeds {
  position: relative;
  max-width: 935px;
  margin: 0 auto;
  padding-top: 30px;
}

.main .feeds article {
  margin-bottom: 24px;
  max-width: 614px;
  border: 1px solid var(--border-gray);
  border-radius: 3px;
}

.main .feeds article img {
  width: 100%;
}

aside {
  position: fixed;
  top: 90px;
  width: 100%;
  max-width: 293px;
}

/* feed Component */
.main .feeds .feed header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px;
}

.main .feeds .feed header .feed_header {
  display: flex;
  align-items: center;
}

.main .feeds .feed header .feed_header .mini_profile {
  margin-right: 14px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.main .feeds .feed header .feed_header {
  display: flex;
  margin: 4px 0;
}

.main .feeds .feed header .feed_header .username {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 600;
}

.main .feeds .feed header .feed_header .place {
  font-size: 12px;
}

/* comments Component */
.main .feeds .feed .feed_user_action {
  display: flex;
  justify-content: space-between;
  padding: 6px 8px 8px;
}

.main .feeds .feed .feed_user_action i {
  padding: 8px;
}

.main .feeds .feed .feed_comments {
  margin-bottom: 8px;
  padding-left: 16px;
}

.main .feeds .feed .feed_contents {
  margin-bottom: 8px;
  padding: 0 16px;
  font-size: 14px;
}

.main .feeds .feed .feed_contents.user_comment {
  display: flex;
  justify-content: space-between;
}

.main .feeds .feed .created_at {
  margin-bottom: 16px;
  padding: 0 16px;
  font-size: 10px;
  color: var(--text-gray);
}

.main .feeds .feed .feed_comment_input {
  padding: 6px 16px;
  border-top: 1px solid var(--border-gray);
}

.main .feeds .feed .feed_comment_input i {
  padding: 8px 16px 8px 0;
}

.main .feeds .feed .feed_comment_input input {
  display: inline-block;
  max-width: 500px;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
}

.main .feeds .feed .feed_comment_input button {
  all: unset;
  color: var(--active-light-blue);
}

.main .feeds .feed .feed_comment_input button.inactive {
  opacity: 0.3;
}

/* aside Component */

.aside {
}

.aside .aside_profile {
  display: flex;
  margin-bottom: 20px;
}

.aside .aside_profile .aside_profile_image {
  flex: 1;
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.aside .aside_profile .aside_profile_info {
  flex: 5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
  font-size: 14px;
}

.aside .aside_profile .aside_profile_info p:first-child {
  margin-bottom: 8px;
}

.aside .aside_profile .account_transition {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 14px;
}
